<nav>
  <div class="main-header">
    <div class="header-content">
      <div class="logo">
        <!-- Make the logo clickable and link to the home page -->
        <a routerLink="/license-purchase">
          <img src="assets/logo.png" alt="Midwest Logo" />
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="nav-2">
  <ul>
    <li>
      <a [href]="'http://mwinspections.com/request-a-quote/'" class="button-contact">Contact us</a>
    </li>
  </ul>
  <div class="main-header-2">
    <ul>
      <li>
        <a routerLink="/license-purchase" routerLinkActive="active" class="tab-button">New License Purchase</a>
      </li>
      <!-- <li>
        <a routerLink="/license-renewal" routerLinkActive="active" class="tab-button">Renew License</a>
      </li> -->
    </ul>
  </div>
</div>
