/* license-purchase.component.css */
.license-box {
  position: relative;
    margin-top: 10px !important;
    background-color: #c5f3f3;
    /* padding: 5px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 25%;
    height: 306px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui;
    margin: 0 auto;
  }
  
/* h5{
  margin: 0px;
} */

.inner-headlines{

  margin: 0 auto;
}
  .unit-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
  }
  
.download-button{

  background-color: red;
    /* color: #fff !important; */
    /* border: none; */
    padding: 8px 8px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.link-down {
  color: white;
  text-decoration: none;

}

  .unit-counter button {
    background-color: #06104e;
    color: #fff;
    border: none;
    padding: 5px 12px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .unit-counter button:hover {
    background-color: #0b3e20;
  }
  
  .unit-counter span {
    margin: 0px 15px;
    font-size: 24px;
    font-weight: bold;
  }
  
  button {
    background-color: #06104e;
    color: #fff;
    border: none;
    padding: 7px 9px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0b3e20;
  }

  .total-amount {
    font-size: 12px;
    margin: -5px;
    /* margin-bottom: 10px; */
  }
  .amount{
    text-align: center;
    color: rgb(57, 51, 51);
  }
  
  .tax-color{
    color: red;
  }


  /* Styles for the order details table */
.order-details-table {
  margin-top: 20px;
}

.order-details-table h2 {
  font-size: 18px;
}

.order-details-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.order-details-table th,
.order-details-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.order-details-table th {
  background-color: #f2f2f2;
}

.detailed-box{
  position: relative;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 61%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: system-ui;
    margin: 0 auto;
}
